.splide__slide{
    height: 500px;
   background-color: green;
    color:  white;
}
.splide__slide img{
width: 100%;
height: 100%;
}
.splide__arrow{
    background: none;
    
}

.splide__arrow i{
    font-size: 30px;
    color: white
}